In [1]:
import numpy as np
import pandas as pd

In [2]:
credits=pd.read_csv('credits.csv')
movies=pd.read_csv('movies_metadata.csv')
links=pd.read_csv('links.csv')

C:\Users\saich\AppData\Local\Temp\ipykernel_271260\2401542614.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_metadata.csv')

In [3]:
movies=movies[['genres','id','title','overview','tagline']]

In [5]:
movies['id'] = movies['id'].astype(str)
credits['id'] = credits['id'].astype(str)

movies = movies.merge(credits, on='id')

In [6]:
movies

,genres,id,title,overview,tagline,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...
45533,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45534,"[{'id': 18, 'name': 'Drama'}]",111109,Century of Birthing,An artist struggles to finish his work while a...,NaN,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45535,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45536,[],227506,Satan Triumphant,"In a small town live two brothers, one a minis...",NaN,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,[],461257,Queerama,50 years after decriminalisation of homosexual...,NaN,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [7]:
import ast

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [8]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,genres,id,title,overview,tagline,cast,crew
0,"[Animation, Comedy, Family]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Romance, Comedy]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [9]:
def convert2(text):
    if isinstance(text, list): 
        names = [i['name'] for i in text if isinstance(i, dict) and 'name' in i]
    else:
        try:
            data = ast.literal_eval(text)  
            names = [i['name'] for i in data if isinstance(i, dict) and 'name' in i]
        except (ValueError, SyntaxError, TypeError):
            return []

    return names[:3]

In [15]:
movies['cast'] = movies['cast'].apply(convert2)
movies.head()

,genres,id,title,overview,tagline,cast,crew
0,"[Animation, Comedy, Family]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Romance, Comedy]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [16]:
movies['crew'][1]

"[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, 'job': 'Executive Producer', 'name': 'Larry J. Franco', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c89', 'department': 'Writing', 'gender': 2, 'id': 876, 'job': 'Screenplay', 'name': 'Jonathan Hensleigh', 'profile_path': '/l1c4UFD3g0HVWj5f0CxXAvMAGiT.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cdd', 'department': 'Sound', 'gender': 2, 'id': 1729, 'job': 'Original Music Composer', 'name': 'James Horner', 'profile_path': '/oLOtXxXsYk8X4qq0ud4xVypXudi.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7c7d', 'department': 'Directing', 'gender': 2, 'id': 4945, 'job': 'Director', 'name': 'Joe Johnston', 'profile_path': '/fok4jaO62v5IP6hkpaaAcXuw2H.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cd7', 'department': 'Editing', 'gender': 2, 'id': 4951, 'job': 'Editor', 'name': 'Robert Dalva', 'profile_path': None}, {'credit_id': '573523bec3a368025100062c', 'department': 'Production', 'gender': 0, 'id': 4952, 'job': 'Casting', 'name': 'Nancy Foy', 'profile_path': '/blCkmS4dqNsbPGuQfozHE6wgWBw.jpg'}, {'credit_id': '5722a924c3a3682d1e000b41', 'department': 'Visual Effects', 'gender': 0, 'id': 8023, 'job': 'Animation Supervisor', 'name': 'Kyle Balda', 'profile_path': '/jR8iAP6uC0V42KbUG87qBIUO3Hj.jpg'}, {'credit_id': '52fe44c0c3a36847f80a7ce3', 'department': 'Art', 'gender': 2, 'id': 9967, 'job': 'Production Design', 'name': 'James D. Bissell', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cb9', 'department': 'Production', 'gender': 2, 'id': 9184, 'job': 'Producer', 'name': 'Scott Kroopf', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7ccb', 'department': 'Production', 'gender': 2, 'id': 9196, 'job': 'Executive Producer', 'name': 'Ted Field', 'profile_path': '/qmB7sZcgRUq7mRFBSTlSsVXh7sH.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7cc5', 'department': 'Production', 'gender': 2, 'id': 18389, 'job': 'Executive Producer', 'name': 'Robert W. Cort', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cbf', 'department': 'Camera', 'gender': 2, 'id': 11371, 'job': 'Director of Photography', 'name': 'Thomas E. Ackerman', 'profile_path': '/xFDbxk53icM1ofL4iCIwB4GkUxN.jpg'}, {'credit_id': '52fe44bfc3a36847f80a7c83', 'department': 'Writing', 'gender': 2, 'id': 42356, 'job': 'Novel', 'name': 'Chris van Allsburg', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7cb3', 'department': 'Production', 'gender': 2, 'id': 42357, 'job': 'Producer', 'name': 'William Teitler', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c8f', 'department': 'Writing', 'gender': 2, 'id': 56520, 'job': 'Screenplay', 'name': 'Greg Taylor', 'profile_path': None}, {'credit_id': '52fe44bfc3a36847f80a7c95', 'department': 'Writing', 'gender': 2, 'id': 56521, 'job': 'Screenplay', 'name': 'Jim Strain', 'profile_path': None}]"

In [17]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [20]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [21]:
movies

,genres,id,title,overview,tagline,cast,crew
0,"[Animation, Comedy, Family]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,"[Adventure, Fantasy, Family]",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,"[Romance, Comedy]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]
...,...,...,...,...,...,...,...
45533,"[Drama, Family]",439050,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,"[Leila Hatami, Kourosh Tahami, Elham Korda]",[Hamid Nematollah]
45534,[Drama],111109,Century of Birthing,An artist struggles to finish his work while a...,NaN,"[Angel Aquino, Perry Dizon, Hazel Orencio]",[Lav Diaz]
45535,"[Action, Drama, Thriller]",67758,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,"[Erika Eleniak, Adam Baldwin, Julie du Page]",[Mark L. Lester]
45536,[],227506,Satan Triumphant,"In a small town live two brothers, one a minis...",NaN,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",[Yakov Protazanov]
45537,[],461257,Queerama,50 years after decriminalisation of homosexual...,NaN,[],[Daisy Asquith]

In [22]:
keyword=pd.read_csv('keywords.csv')

In [23]:
movies['id'] = movies['id'].astype(str)
keyword['id'] = keyword['id'].astype(str)

movies = movies.merge(keyword, on='id')

In [24]:
movies

,genres,id,title,overview,tagline,cast,crew,keywords
0,"[Animation, Comedy, Family]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[Adventure, Fantasy, Family]",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[Romance, Comedy]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch],"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker],"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer],"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...
46623,"[Drama, Family]",439050,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,"[Leila Hatami, Kourosh Tahami, Elham Korda]",[Hamid Nematollah],"[{'id': 10703, 'name': 'tragic love'}]"
46624,[Drama],111109,Century of Birthing,An artist struggles to finish his work while a...,NaN,"[Angel Aquino, Perry Dizon, Hazel Orencio]",[Lav Diaz],"[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46625,"[Action, Drama, Thriller]",67758,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,"[Erika Eleniak, Adam Baldwin, Julie du Page]",[Mark L. Lester],[]
46626,[],227506,Satan Triumphant,"In a small town live two brothers, one a minis...",NaN,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",[Yakov Protazanov],[]
46627,[],461257,Queerama,50 years after decriminalisation of homosexual...,NaN,[],[Daisy Asquith],[]

In [25]:
movies.shape

(46628, 8)

In [26]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,genres,id,title,overview,tagline,cast,crew,keywords
0,"[Animation, Comedy, Family]",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",NaN,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],"[jealousy, toy, boy, friendship, friends, riva..."
1,"[Adventure, Fantasy, Family]",8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],"[board game, disappearance, based on children'..."
2,"[Romance, Comedy]",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch],"[fishing, best friend, duringcreditsstinger, o..."
3,"[Comedy, Drama, Romance]",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker],"[based on novel, interracial relationship, sin..."
4,[Comedy],11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer],"[baby, midlife crisis, confidence, aging, daug..."

In [27]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [28]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [29]:
movies['overview'] = movies['overview'].fillna("").astype(str).apply(lambda x: x.split())

In [30]:

movies['tagline'] = movies['tagline'].fillna("").astype(str).apply(lambda x: x.split())

In [31]:

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']+movies['tagline']

In [32]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew','tagline'])

In [33]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,id,title,tags
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [34]:
new.shape

(46628, 3)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [36]:
vector = cv.fit_transform(new['tags']).toarray()

In [37]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
    similarity = cosine_similarity(vector)

In [40]:
similarity

array([[1.        , 0.04767313, 0.05198752, ..., 0.        , 0.01767767,
        0.        ],
       [0.04767313, 1.        , 0.07435224, ..., 0.10969086, 0.03370999,
        0.0418121 ],
       [0.05198752, 0.07435224, 1.        , ..., 0.        , 0.01838037,
        0.        ],
       ...,
       [0.        , 0.10969086, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.01767767, 0.03370999, 0.01838037, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.0418121 , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [41]:
def recommend(movie):
    
    if movie not in new['title'].values:
        print(f"❌ Movie '{movie}' not found in dataset.")
        return []

    index_list = new[new['title'] == movie].index
    if len(index_list) == 0:
        print(f"❌ Movie '{movie}' not found in dataset.")
        return []

    index = index_list[0]  
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    recommendations = []
    for i in distances[1:6]:  
        recommendations.append(new.iloc[i[0]]['title'])

    return recommendations

In [42]:
recommend('Gandhi')

['The Legend of Bhagat Singh',
 'Utu',
 "Viceroy's House",
 'Female Agents',
 'The Battle of Algiers']

In [43]:
import pickle

In [44]:
pickle.dump(new,open('movie_list.pkl','wb'))

In [48]:

similarity = similarity.astype(np.float32)

MemoryError: Unable to allocate 8.10 GiB for an array with shape (46628, 46628) and data type float32

In [50]:
import joblib


joblib.dump(similarity, 'similarity.pkl')

['similarity.pkl']